#Daemon related:
User {{ apache2_base_runas_user[ansible_os_family] }}
Group {{ apache2_base_runas_user[ansible_os_family] }}

ServerName {{ inventory_hostname }}
ServerRoot {{ apache2_base_server_root[ansible_os_family] }}
{% if ansible_os_family == 'Debian' %}
LockFile /var/lock/apache2/accept.lock
PidFile /var/run/apache2.pid
{% else %}
{# "LockFile" was superseeded in 2.4 by 'Mutex' directive #}
{# "PidFile" RHEL/Centos 7 has Systemd already #}
{% endif %}
ErrorLog /var/log/apache2/error.log
LogLevel warn

# Monitoring socket:
{% if apache2_base_monitoring == True %}
Listen 127.0.0.1:81
{% endif %}

# Plain HTTP sockets:
{% for socket in apache2_base_http_sockets %}
Listen {{ socket.host }}:{{ socket.port }}
{% if apache_version.split('.')[1] < 4 %}
NameVirtualHost {{ socket.host }}:{{ socket.port }}
{% endif %}
{% endfor %}

# SSL sockets:
<IfModule mod_ssl.c>
{% for socket in apache2_base_https_sockets %}
    Listen {{ socket.host }}:{{ socket.port }} https
{% if apache_version.split('.')[1] < 4 %}
    NameVirtualHost {{ socket.host }}:{{ socket.port }}
{% endif %}
{% endfor %}
</IfModule>

# Include modules configuration:
{% if ansible_os_family == 'Debian' %}
Include mods-enabled/*.load
Include mods-enabled/*.conf
Include conf.d/
{% else %}
Include conf.modules.d/*.conf
Include conf.d/*.conf
{% endif %}

<IfModule mpm_prefork_module>
    StartServers          {{ apache2_base_prefork_start_servers }}
    MinSpareServers       {{ apache2_base_prefork_min_spare_servers }}
    MaxSpareServers       {{ apache2_base_prefork_max_spare_servers }}
    MaxClients            {{ apache2_base_prefork_max_clients }}
    MaxRequestsPerChild   {{ apache2_base_prefork_max_requests_per_child }}
    ServerLimit           {{ apache2_base_prefork_max_clients }}
</IfModule>

#Connections related:
Timeout {{ apache2_base_connection_timeout }}
KeepAlive {{ apache2_base_keepalive }}
{% if apache2_base_keepalive == 'On' %}
MaxKeepAliveRequests {{ apache2_base_keepalive_max_requests }}
KeepAliveTimeout {{ apache2_base_keepalive_timeout }}
{% endif %}
DefaultType None
EnableSendfile on

# Security related:
ServerTokens Prod
ServerSignature Off
TraceEnable Off

<Directory />
    Options None
    AllowOverride None
{% if apache_version.split('.')[1] < 4 %}
    Order Deny,Allow
    Deny from all
{% else %}
    Require all denied
{% endif %}
</Directory>

AccessFileName .htaccess
<Files ~ "^\.ht">
{% if apache_version.split('.')[1] < 4 %}
    Order allow,deny
    Deny from all
    Satisfy all
{% else %}
    Require all denied
{% endif %}
</Files>

# Monitoring related:
ExtendedStatus On

# Logging:
HostnameLookups Off
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %D" vhost_combined_time
LogFormat "%v:%p %h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" vhost_combined
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\" %D" combined_time
LogFormat "%h %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" combined
LogFormat "%h %l %u %t \"%r\" %>s %O" common
LogFormat "%{Referer}i -> %U" referer
LogFormat "%{User-agent}i" agent

# Vhosts/sites:
{% if ansible_os_family == 'Debian' %}
Include sites-enabled/
{% else %}
IncludeOptional conf.d/*.con
{% endif %}
