#Monitoring:
Listen 127.0.0.1:81

#Service:
Listen {{apache2_base_host}}:{{apache2_base_port}}
NameVirtualHost {{apache2_base_host}}:{{apache2_base_port}}

<IfModule mod_ssl.c>
    Listen {{apache2_base_host}}:{{apache2_base_ssl_port}}
    NameVirtualHost {{apache2_base_host}}:{{apache2_base_ssl_port}}
</IfModule>

<IfModule mod_gnutls.c>
    Listen {{apache2_base_host}}:{{apache2_base_ssl_port}}
    NameVirtualHost {{apache2_base_host}}:{{apache2_base_ssl_port}}
</IfModule>
